.line {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, rgba(128, 128, 128, 0.4), transparent);
  margin: 2rem 0;
}

.text {
  font-size: 0.9rem;
  text-align: center;
  color: var(--footer-text, #555);
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Темна тема */
:root[data-theme='dark'] {
  --footer-text: #aaa;
  --text-hover: #DDE2C6;
}

/* Ховер-ефект для інтерактивності (опційно) */
.text:hover {
  color: #8A9A5B;
}

:root[data-theme='dark'] {
  --footer-text: #aaa;
  --text-hover: #3E432E;;
}